1. What are data structures, and why are they important?
 - Data structures are ways of organizing and storing data to make it easier to access, manage, and process. They are important because they help in solving complex problems efficiently and are the foundation of algorithms.
2. Explain the difference between mutable and immutable data types with examples.
 - Mutable data types can be changed after creation (e.g., lists, dictionaries). Immutable data types cannot be changed (e.g., strings, tuples). Example: A list [1, 2, 3] can have elements added or removed, but a tuple (1, 2, 3) cannot be modified.
3. What are the main differences between lists and tuples in Python?
 - Lists are mutable, ordered, and can be modified. Tuples are immutable, ordered, and cannot be modified after creation.
4. Describe how dictionaries store data.
 - Dictionaries store data as key-value pairs, where each key is unique and maps to a value. They use hash tables internally for quick lookups.
5. Why might you use a set instead of a list in Python?
 - Sets are used when you need to store unique elements and perform operations like union, intersection, or difference efficiently.
6. What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters that is immutable, whereas a list is a sequence of elements that is mutable. Example: A string 'abc' cannot be changed, but a list ['a', 'b', 'c'] can be modified.
7. How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity by being immutable, meaning their elements cannot be changed once they are created. This makes them ideal for storing fixed data.
8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores data in key-value pairs using a hash function. Dictionaries in Python use hash tables internally for efficient data retrieval.
9. Can lists contain different data types in Python?
 - Yes, lists in Python can contain elements of different data types, such as integers, strings, and even other lists or objects.
10. Explain why strings are immutable in Python.
 - Strings are immutable to ensure data consistency, improve performance, and allow them to be used as keys in dictionaries.
11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer faster lookups and retrieval for data when keys are known. They are more efficient for tasks requiring mapping between keys and values.
12. Describe a scenario where using a tuple would be preferable over a list.
 - Tuples are preferable when you need to store fixed, unchangeable data, such as coordinates (x, y, z) or database records.
13. How do sets handle duplicate values in Python?
 - Sets automatically eliminate duplicate values, ensuring that all elements are unique.
14. How does the 'in' keyword work differently for lists and dictionaries?
 - For lists, 'in' checks if a value exists in the list. For dictionaries, 'in' checks if a key exists in the dictionary.
15. Can you modify the elements of a tuple? Explain why or why not.
 - No, you cannot modify the elements of a tuple because tuples are immutable. This ensures data integrity.
16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary within another dictionary. Example use case: Storing student details, where each student's data is a dictionary of attributes.
17. Describe the time complexity of accessing elements in a dictionary.
 - The time complexity of accessing elements in a dictionary is O(1) on average, due to the use of hash tables.
18. In what situations are lists preferred over dictionaries?
 - Lists are preferred when the data does not require key-value mapping and order is important, such as in sequences or ordered collections.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because their elements are stored based on hash values, not in a specific order. However, since Python 3.7, dictionaries maintain insertion order but are still accessed by keys.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - A list retrieves elements by their index (position), while a dictionary retrieves elements by their key. Dictionaries are faster for key-based lookups.

#1. Write a code to create a string with your name and print it.

In [1]:
name = "Anant"
print(name)

Anant

# 2. Write a code to find the length of the string "Hello World".

In [2]:
string = "Hello World"
print(len(string))

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
string = "Python Programming"
print(string[:3])

Pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [4]:
string = "hello"
print(string.upper())

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

# 6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [11]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [12]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [13]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [15]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [16]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [17]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [18]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [19]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [20]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [21]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [22]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [23]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [24]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}